nav{
    background-color: skyblue;
    padding: 1;
}
nav ul li{
    text-align: left;
    display: inline;
    margin-right: 20px;
}
section{
    background-color: gold;
    padding: 20;
    margin: 10;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    background-color: green;
    text-align: center;
    padding: 2;
}
body{
    margin: 26;
    
}